{% extends "base.html" %}
{% block content %}
<div class="main">
	<div class="row">
		<h1>About:</h1>
        <h3>这个一个在师傅们的代码基础上进行添加修改的项目,由于本人前端差的一匹，所以只有进行修修改改</h3>
        <h3>参考:</h3>
        <h3>boy-hack师傅:<a href="https://github.com/boy-hack?tab=repositories">https://github.com/boy-hack?tab=repositories</a></h3>
        <h3>Hexman师傅:<a href="https://github.com/iceyhexman/onlinetools">https://github.com/iceyhexman/onlinetools</a></h3>
        <h3>本人博客:<a href="http://www.naivete.online">http://www.naivete.online</a></h3>
	</div>
</div>
{% endblock %}